{# nav bar #}
<nav class="navbar navbar-expand-md navbar-light bg-light">
 <div class="container-fluid">
   <a class="navbar-brand" href="{{ url_for('index.main_index') }}">Blog</a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <div class="navbar-nav">
       {% for (endpoint, label) in [('users.users_list', 'Пользователи'),('articles.articles_list', 'Статьи')] %}
         <a href="{{ url_for(endpoint) }}"
            class="nav-link {% if request.endpoint == endpoint -%}active{%- endif %}"
         >
           {{ label }}
         </a>
       {% endfor %}
        {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout ({{ current_user.email }})</a>
            </li>
         {% endif %}
     </div>
   </div>
 </div>
</nav>